<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--WebService地址-->
    <add key="WebServiceUrl" value="http://localhost:25060/testService/" />
    <!--WebService输出dll文件名称-->
    <add key="OutputDllFilename" value="TestWebService.dll" />
    <!--WebService代理类名称-->
    <add key="ProxyClassName" value="TestService" />
  </appSettings>
</configuration>